.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* home */
#home-header {
  background-image: url(./images/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 550px;
  opacity: 80%;
}

.container {
  min-height: 550px;
  background-color: linear-gradient(to right, #1e272e, #485460);
}

.btn {
  letter-spacing: 0.25rem;
}
