.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* home */
#home-header {
  background-image: url(./images/homebackground.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
}

.container {
  min-height: 500px;
}

.btn {
  letter-spacing: 0.25rem;
}
